ul,
ol {
	margin: 1em 0;
	list-style: none;
	padding: 0;
	list-style-position: inside;
}
i > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}
